<div>
    <app-button [name]="'Bouton1'" (notifyParent)="handleNotification($event)"></app-button>
</div>
<div>
    <app-button [name]="'Bouton2'" (notifyParent)="handleNotification($event)"></app-button>
</div>
<div>
    <app-button [name]="'Bouton3'" (notifyParent)="handleNotification($event)"></app-button>
</div>
<div>
    <app-button [name]="'Bouton4'" (notifyParent)="handleNotification($event)"></app-button>
</div>
<div>
    <app-button [name]="'Bouton5'" (notifyParent)="handleNotification($event)"></app-button>
</div>
<p>{{notificationFromChild}}</p>
